.logo_img {
    width: 134px;
    height: 45px;
    position: absolute;
    top: 5px;
}

.jumbotron {
    height: 500px;
}

section.speaker_block {
    height: 800px;
}

section.ticket_block {
    height: 500px;
}

section li {
    width: 205px;
}

section p {
    font-size: 21px;
}

.pfp_img {
    width: 221px;
    height: 225px;
}

.venue_p {
    width: 350px;
}

.venue_img {
    width: 471px;
    height: 454px;
}

footer {
    height: 100px;
}

