.jumbotron {
    height: 500px;
}

section.speaker_block {
    height: 800px;
}

section.ticket_block {
    height: 500px;
}

section li {
    width: 205px;
}

section p {
    font-size: 21px;
}

img {
    width: 221px;
    height: 225px;
}

footer {
    height: 100px;
}

